# 설치

In [1]:
from google.colab import output
!pip install chart_studio
!pip install pyecharts==1.9.1
!pip install echarts-themes-pypkg
!pip install selenium
!pip install xmltodict
!pip install snapshot-selenium
!apt-get update
# !apt install chromium-chromedriver
output.clear()

# 임포트

In [2]:
import requests
import xmltodict
import pandas as pd
from pandas import Series
import xlrd
# from pyecharts.globals import CurrentConfig, NotebookType
# from pyecharts.render import make_snapshot
# CurrentConfig.NOTEBOOK_TYPE = NotebookType.JUPYTER_LAB
from selenium import webdriver
from urllib.request import urlopen
from urllib.parse import quote_plus
from selenium.webdriver.common.keys import Keys
import numpy as np
from datetime import date
import copy, json
import chart_studio
chart_studio.tools.set_credentials_file(username='username', api_key='api_key')
from IPython.display import IFrame
import chart_studio.plotly as py
import plotly.express as px
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.graph_objects as go
import plotly.io as pio
from pyecharts.globals import ThemeType
from pyecharts.commons.utils import JsCode
from pyecharts.charts import Bar, Bar3D, Grid, Line, Liquid, Page, Pie, Timeline, Tab, Map
from pyecharts import options as opts

/usr/local/lib/python3.7/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

# 데이터 추출

In [3]:
getJ=pd.read_csv('/content/drive/MyDrive/COVID19/get.csv')
edu=pd.read_csv('/content/drive/MyDrive/COVID19/edu.csv')
kind=pd.read_csv('/content/drive/MyDrive/COVID19/kind.csv')
loc=pd.read_csv('/content/drive/MyDrive/COVID19/loc.csv')
edu2020=pd.read_csv('/content/drive/MyDrive/COVID19/2020.csv')
edu2019=pd.read_csv('/content/drive/MyDrive/COVID19/2019.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning:

Columns (15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93) have mixed types.Specify dtype option on import or set low_memory=False.

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning:

Columns (14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89) have mixed types.Specify dtype option on import or set low_memory=False.

#데이터 전처리 getJ

In [4]:
getJ=getJ.iloc[1:7][:]
name=['구분']
for i in range(2,22):
  for j in range(1,13):
    name.append('20{0:02d}'.format(i)+'{0:02d}'.format(j)+'01')
getJ.iloc[0]=name
# index 설정
getJ.index=getJ.iloc[:,0]
# 1열 삭제
getJ=getJ.drop('통계표명:',axis=1)
# 날짜 변환
getJ.iloc[0]=pd.to_datetime(getJ.iloc[0])
getJ.iloc[0] = getJ.iloc[0].apply(lambda x:x.strftime('%Y%m'))
getJ.index.name=''
# 1행 컬럼으로 바꾸기
getJ.columns=getJ.iloc[0]
#년도 행 삭제
getJ=getJ.drop('구분')

In [5]:
getJ

구분    200201  200202  200203  200204  ...   202109   202110   202111   202112
                                      ...
구인    57,616  53,675  69,419  62,963  ...  159,915  172,651  187,289  197,609
구직    92,397  72,701  87,694  65,362  ...  294,777  298,333  300,473  328,670
구인배수    0.62    0.74    0.79    0.96  ...     0.54     0.58     0.62     0.60
취업자수  11,845  12,559  18,686  18,019  ...   82,691   81,934   78,426   69,017
취업률     12.8    17.3    21.3    27.6  ...     28.1     27.5     26.1     21.0

[5 rows x 240 columns]

In [6]:
getJ_1=getJ.iloc[[0,1,3,4]]

In [16]:
getJ1=copy.copy(getJ_1)
getJ2002=getJ1.loc[:,'200201':'200212']
getJ2003=getJ1.loc[:,'200301':'200312']
getJ2004=getJ1.loc[:,'200401':'200412']
getJ2005=getJ1.loc[:,'200501':'200512']
getJ2006=getJ1.loc[:,'200601':'200612']
getJ2007=getJ1.loc[:,'200701':'200712']
getJ2008=getJ1.loc[:,'200801':'200812']
getJ2009=getJ1.loc[:,'200901':'200912']
getJ2010=getJ1.loc[:,'201001':'201012']
getJ2011=getJ1.loc[:,'201101':'201112']
getJ2012=getJ1.loc[:,'201201':'201212']
getJ2013=getJ1.loc[:,'201301':'201312']
getJ2014=getJ1.loc[:,'201401':'201412']
getJ2015=getJ1.loc[:,'201501':'201512']
getJ2016=getJ1.loc[:,'201601':'201612']
getJ2017=getJ1.loc[:,'201701':'201712']
getJ2018=getJ1.loc[:,'201801':'201812']
getJ2019=getJ1.loc[:,'201901':'201912']
getJ2020=getJ1.loc[:,'202001':'202012']
getJ2021=getJ1.loc[:,'202101':'202112']

In [21]:
# 전체 꺾은선 그래프 + 막대그래프
attr = getJ1.columns.tolist()
total_job_rate = Line(init_opts=opts.InitOpts( theme=ThemeType.WESTEROS
                                                              ,animation_opts=opts.AnimationOpts(animation_delay=1000
                                                                                                  , animation_easing="elasticOut")))
total_job_rate.add_xaxis(attr).set_global_opts(
    title_opts=opts.TitleOpts(
        title="취업률 추세",subtitle="커서와 스크롤을 조절해 원하는 정보를 확인해보세요!"),
        yaxis_opts=opts.AxisOpts(min_='Datamin', name = "취업률",name_location="center",type_="value",is_scale=True),
        xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=0)),
        datazoom_opts=[opts.DataZoomOpts(), opts.DataZoomOpts(type_="inside")],
        legend_opts=opts.LegendOpts(pos_left="40%",legend_icon='pin'),
        tooltip_opts=opts.TooltipOpts(trigger="axis", axis_pointer_type="cross")
        ).set_series_opts(label_opts=opts.LabelOpts(is_show=False))

total_job_rate.overlap(Line(init_opts=opts.InitOpts(theme=ThemeType.WESTEROS)).add_xaxis(attr).add_yaxis('취업률',getJ1.T['취업률']))


total_job_rate.render('total_job_rate.html')

'/content/total_job_rate.html'

In [ ]:
# 2개년 꺾은선 두개 비교
getJ1819=getJ1.loc[:,'201801':'2019:12']
getJ2021=getJ1.loc[:,'202001':'2021:12']
attr1 = getJ1819.columns.tolist()
attr2 = getJ2021.columns.tolist()
getJ89_line = (Line(
        init_opts=opts.InitOpts(theme=ThemeType.WESTEROS))
       .add_xaxis(attr)
       .add_yaxis('총지수',getJ1819.T['취업률'])
       ).set_global_opts(title_opts=opts.TitleOpts(title='PRE-COVID 2개년 취업률',pos_bottom="60%"),
                        legend_opts=opts.LegendOpts(pos_bottom="55%",pos_right="10%",legend_icon='pin'),
                         tooltip_opts=opts.TooltipOpts(trigger="axis", axis_pointer_type="cross"),
                       datazoom_opts=[opts.DataZoomOpts(), opts.DataZoomOpts(type_="inside")],
       ).set_series_opts(label_opts=opts.LabelOpts(is_show=False))

getJ01_line=(Line(
        init_opts=opts.InitOpts(theme=ThemeType.WESTEROS))
       .add_xaxis(df_kb2_house_melt['년도'].unique().astype(str).tolist())
       .add_yaxis('총지수', df_kb2_house_melt[df_kb2_house_melt['주택전세가격, 전국미분양 주택'] == '총지수(서울)[2017.11=100]']['비율(%)'].tolist())
       .add_yaxis('아파트', df_kb2_house_melt[df_kb2_house_melt['주택전세가격, 전국미분양 주택'] == '아파트(서울)[2017.11=100]']['비율(%)'].tolist())
       ).set_global_opts(title_opts=opts.TitleOpts(title='주택전세지수 변동폭(서울)',pos_top='65%'),
                        legend_opts=opts.LegendOpts(pos_top="70%",pos_right="10%",legend_icon='pin'),
                         tooltip_opts=opts.TooltipOpts(trigger="axis", axis_pointer_type="cross")
       ).set_series_opts(label_opts=opts.LabelOpts(is_show=False))

house__seoul = (Line(
        init_opts=opts.InitOpts(theme=ThemeType.WESTEROS))
       .add_xaxis(df_kb1_house_melt['년도'].unique().astype(str).tolist())
       .add_yaxis('전국 미분양주택', df_kb1_house_melt[df_kb1_house_melt['주택매매가격, 전국미분양 주택'] == '서울[호]']['비율(%)'].tolist())
       ).set_global_opts(title_opts=opts.TitleOpts(title='서울 미분양 주택 수'),
                        legend_opts=opts.LegendOpts(pos_top='5%',pos_right="10%",legend_icon='pin'),
                         tooltip_opts=opts.TooltipOpts(trigger="axis", axis_pointer_type="cross")
       ).set_series_opts(label_opts=opts.LabelOpts(is_show=False))

In [20]:
# 꺾은선 그래프로 만들었으나 + 막대그래프도 포함해서
job_info = Timeline(
    init_opts=opts.InitOpts(
        theme=ThemeType.WESTEROS, 
        height='400px',
        width='600px')
).add_schema(is_auto_play=True)

for i in range(2,22):
  attr = globals()['getJ20{0:02d}'.format(i)].columns.tolist()
  job_info.add((Line(init_opts=opts.InitOpts( theme=ThemeType.WESTEROS,
                                             animation_opts=opts.AnimationOpts(
                                                 animation_delay=1000, animation_easing="elasticOut"
                                                 ))).add_xaxis(attr
                                                               ).set_global_opts(
                                                                   title_opts=opts.TitleOpts(title='20{0:02d}년 취업률 추세'.format(i),subtitle="커서와 스크롤을 조절해 원하는 정보를 확인해보세요!"),
                                                                   yaxis_opts=opts.AxisOpts(min_='Datamin', name = "취업률",name_location="center",type_="value",is_scale=True),
                                                                   xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=0)),
                                                                   legend_opts=opts.LegendOpts(pos_left="40%",legend_icon='pin'),
                                                                   tooltip_opts=opts.TooltipOpts(trigger="axis", axis_pointer_type="cross")
                                                                   ).set_series_opts(
                                                                       label_opts=opts.LabelOpts(is_show=False))).overlap(Line(init_opts=opts.InitOpts(theme=ThemeType.WESTEROS)).add_xaxis(attr).add_yaxis('취업률',globals()['getJ20{0:02d}'.format(i)].T['취업률']))
                                                                       ,'20{0:02d}년'.format(i))

job_info.render('job_info.html')

'/content/totaljobtest.html'

In [ ]:
corona_industry_percent = Timeline(
    init_opts=opts.InitOpts(
        theme=ThemeType.WESTEROS, 
        height='400px',
        width='600px')
).add_schema(is_auto_play=True)
for s in s_total['년'].unique():
    a=s_total[s_total['년']==s].loc[:,'가전/가구':'교육/학원'].values.tolist()
    b=a[0]
    c=[[i] for i in b]
    corona_industry_percent.add((Pie(init_opts=opts.InitOpts(theme=ThemeType.WESTEROS)).add("", [list(z) for z in zip(s_total.columns[1:], c)],
                    rosetype="radius",radius=["30%", "60%"]))
    .set_series_opts(label_opts=opts.LabelOpts(is_show=True,position='top'))
    .set_global_opts(title_opts=opts.TitleOpts(title="연도별 카드소비액", subtitle="마우스를 파이에 올려 소유자수 비율을 확인해보세요!"),
                     legend_opts=opts.LegendOpts(type_ = 'scroll', pos_bottom ="60%",pos_right="-3%", orient="vertical",legend_icon ='pin'))
  ,"{}년도".format(s))
    
    corona_industry_percent.render('corona_ind_total.html')